.env
env
venv
__pycache__

*.pyc
*.sqlite
*.coverage
.DS_Store
env.sh
migrations

tmp/
**/dataanalysis/dspoints/
**/dataanalysis/*.csv

**/server/uploads

*.log
npm-debug.log*
node_modules
**/client/static/dist

pgdata
