version: '2'

services:
  db:
    image: mdillon/postgis
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  web:
    build: .
    command: python manage.py runserver -h 0.0.0.0 -p 8000
    volumes:
      - .:/project
    ports:
      - "8000:8000"
    depends_on:
      - db
