[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]

coverage = "*"
flask-debugtoolbar = "*"
flask-testing = "*"
"autopep8" = "*"


[packages]

alembic = "==0.8.10"
bcrypt = "==3.1.2"
blinker = "==1.4"
fuzzywuzzy = "*"
gunicorn = "*"
pandas = "*"
python-slugify = "*"
python-decouple = "*"
tables = "*"
flask = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-migrate = "*"
flask-script = "*"
flask-sqlalchemy = "*"
flask-uploads = "*"
python-levenshtein = "*"
sqlalchemy-utils = "*"
"geoalchemy2" = "*"
tabulate = "*"
geojson = "*"
shapely = "*"
"psycopg2-binary" = "*"
