<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Spatio-temporal Predictive Analysis of Urban Data</title>
    <!-- meta -->
    <meta name="description" content="This project aims the development of an environment for analysis, cleaning and visualization of large amounts of spatio-temporal urban data.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- styles -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet" media="screen">
  </head>

  <body>
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="container-logo">
          <img alt="IFRN" src="{{url_for('static', filename='images/layout/ifrn70.png')}}" />
          <img alt="The Ohio State University" src="{{url_for('static', filename='images/layout/osu70.png')}}" />
        </div>
        <div class="container-title">
          <h1>Spatio-temporal Predictive Analysis of Urban Data</h1>
          <p>
            This project aims the development of an environment for analysis, cleaning and visualization of large amounts of spatio-temporal urban data.
          </p>
          <a class="btn btn-primary" href="/upload" target="_blank">Geo-Highlight Environment</a>
        </div>
        <div class="container-info">
          <section>
            <h2>About</h2>
            <p class="container-info-text">
              This project aims the development of an environment for analysis, cleaning and visualization of large amounts of spatio-temporal urban data. We also consider the definition of algorithms to detect possible unexpected events from the analysis of different datasets.
            </p>
            <p class="container-info-text">
              This project is a collaboration with Behrooz Omidvar-Tehrani from The Ohio State University (United States).
            </p>
            <p class="container-info-text">
              We will start analysing heterogeneous urban datasets (in CSV, XML and JSON formats) and design a JavaScript-based tool which imports these files and visualize the data on a geographical map. A JavaScript-based tool benefits from being portable, light, efficient and minimally dependent to the system configuration. We also consider defining a generic model for spatio-temporal data and propose recommendation and prediction algorithms.
            </p>
            <p class="container-info-text">
              The results of this project will be a web-based framework that shall be developed to validate the models and algorithms in this research work.
            </p>
          </section>
          <section>
            <h2>Members</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="container-member">
                  <img src="{{url_for('static', filename='images/avatar/behrooz150.jpg')}}">
                  <div class="">
                    <h3>Behrooz Omidvar-Tehrani</h3>
                    <p>
                      Ohio State University<br />
                      PhD in Computer Science (Grenoble University - France)
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="container-member">
                  <img src="{{url_for('static', filename='images/avatar/placido150.jpg')}}">
                  <div class="">
                    <h3>Plácido A. Souza Neto</h3>
                    <p>
                      Federal Institute of Rio Grande do Norte - IFRN<br />
                      PhD in Computer Science (UFRN - Brazil)
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="container-member">
                  <img src="{{url_for('static', filename='images/avatar/felipe150.jpg')}}">
                  <div class="">
                    <h3>Felipe Pontes</h3>
                    <p>
                        Federal Institute of Rio Grande do Norte - IFRN<br />
                        Undergraduate Student (IFRN - Brazil)
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="container-member">
                  <img src="{{url_for('static', filename='images/avatar/francisco150.jpg')}}">
                  <div class="">
                    <h3>Francisco Bento</h3>
                    <p>
                        Federal Institute of Rio Grande do Norte - IFRN<br />
                        Undergraduate Student (IFRN - Brazil)
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="container-member">
                  <img src="https://avatars2.githubusercontent.com/u/17347069?v=3&s=150">
                  <div class="">
                    <h3>Gustavo Guerino</h3>
                    <p>
                        Federal Institute of Rio Grande do Norte - IFRN<br />
                        Undergraduate Student (IFRN - Brazil)
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="row">
        <div class="address col-md-6">
          <address>
            Núcleo de Desenvolvimento de Software - IFRN<br />
            Av. Senador Salgado Filho, 1559, Natal, RN 59015-000, Brazil
          </address>
        </div>
        <div class="address col-md-6">
          <address>
            Department of Computer Science and Engineering - The Ohio State University<br />
            674 Dreese Labs, 2015 Neil Ave, Columbus, OH 43210, USA
          </address>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
