{% extends '_base.html' %}

{% block content %}

  <header class="content-header">
    <h1>Please register</h1>
  </header>

  <br>


  <form class="form" role="form" method="post" action="">

    <div class="col-lg-4 col-sm-4">

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
      </div>
      <div class="form-group">
        <label for="confirm">Confirm</label>
        <input type="password" class="form-control" id="confirm" name="confirm" placeholder="Confirm password" required>
      </div>



      <button class="btn btn-success" type="submit">Register!</button>
      <br><br>
      <p>Already have an account? <a href="{{ url_for('user.login') }}">Login</a>.</p>

    </div>

  </form>


{% endblock content %}
