#map{
    height: 500px;
    margin-top: 5px;
}
.show-button {
    margin-top: 5px;
}

#pointInfo {
	width: 100%;
}
.divanalysis{
	margin-top: 10px;
	padding-top: 2px;
}
#firstAnalysis, #seccondAnalysis{
	display: none;
}
.page-header{
	margin-top: 10px;
}
.navbar{
	margin-bottom: 5px;
}
.text-center{
	margin-top: 3px;
}