<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GeoHighlight - Upload your dataset </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="static/bootstrap.min.css" rel="stylesheet">
  <style>
  body{
    text-align: center;
    margin: 2em auto;
    margin:0;
    padding:0;
  }
  #inputs
  {
    width:200px;
    margin:auto;
  }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">GeoHighlight</a>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>
            Select the file to upload <small>{{formatsmsg}}</small>
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form action="upload" method="POST" enctype="multipart/form-data">
          <p>
            <input type="file" name="file" id="inputs"><br><br>
            <input type="submit" name="botao" value="Charts and Maps"> or
            <input type="submit" name="botao" value="Data Analisys">
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</html>
