html, body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.sidebar {
  position: absolute;
  margin: 0;
  top:0;
  left:0;
  height: 100%;
  z-index: 1000;
  padding: 1em;
  width: 30em;
  pointer-events: none;
}

.sidebar .control {
  pointer-events: auto;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
}

.sidebar .control h3 {
  margin-top: 0;
  font-size: 1.3em;
  font-weight: 500;
}

.mapContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#map {
  height: 100%;
  width: 100%;
  margin: 0;
}

#heatMapUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}

#heatMapText {
  color: rgb(25,25,25);
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  pointer-events: auto;
}

.chart {
  /*display: inline-block;*/
  height: 180px;
  margin-bottom: 10px;
}

.reset {
  padding-left: 1em;
  font-size: smaller;
  color: #ccc;
}

.background.bar {
  fill: #ccc;
}

.foreground.bar {
  fill: steelblue;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}
